<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="lib/directives/amDateFormat.js">
  
  <error
    line="4"
    severity="warning"
    message="Cyclomatic: 4,
    Halstead: 12.071
    | Effort: 2984.7
    | Volume: 247.25
    | Vocabulary: 27"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="lib/filters/amTimeAgo.js">
  
  <error
    line="20"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 7.7143
    | Effort: 2611.9
    | Volume: 338.58
    | Vocabulary: 30"
    source="updateTime"
    />
  
  <error
    line="59"
    severity="warning"
    message="Cyclomatic: 4,
    Halstead: 4.5000
    | Effort: 600.47
    | Volume: 133.44
    | Vocabulary: 18"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="lib/index.js">
  
</file>



<file name="lib/services/moment.js">
  
</file>



</checkstyle>
